@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(165, 69, 69);
}

/*HEADER*/

header{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

header .social{
    width: 100%;
    height: 53px;
    background-color: black;
}

header .social ul{
    display: inline-flex;
    float: right;
    margin: auto;
}

header .social ul li{
    list-style-type: none;
    margin: 12px 20px;
}

header .social ul li a{
    text-decoration: none;
    color: #ffffff;
}

header .social ul li a:hover{
    color: #0F62FE;
}

header .navigation{
    background-color: white;
}

nav{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 85%;
    margin: auto;
}

nav ul{
    margin-bottom: 4%;
}

nav ul li{
    display: inline-block;
    margin: 10px 15px;
    position: relative;
}

nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 400;
}

nav ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background-color: #0F62FE; 
    position: absolute;
    left: 0;
    bottom: -9px;
    transition: 0.5s;
}

nav ul li:hover::after{
    width: 100%;
}

nav #btn-menu{
    font-size: 28px;
    display: none;
}

nav .logo img{
    width: 65px;
    height: 65px;
    margin-top: 5px;
}

.rowb{
    text-align: center;
    align-items: center;
    display: flex;
    transform: translateY(25%);
}

.col img{
    width: 340px;
    height: 350px;
}

header .nom{
    color: white;
    text-align: left;
}

.nom h2{
    font-size: 40px;
    font-weight: 700;
}

.nom button{
    margin-top: 40px;
}

.bttn{
    padding: 14px 32px;
    background-color: transparent;
    color: white;
    border: 1px solid #0F62FE;
    border-radius: 25px;
    font-size: small;
    cursor: pointer;
}

header .nom button i{
    margin-left: 10px;
}

header .nom button:hover{
    color: #0F62FE;
    background-color: white;
    border: 1px solid white;
}

/*A PROPOS*/

.a_propos{
    background-color: black;
    width: 100%;
    height: 80vh;
}

.a_propos h2{
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    font-weight: 600;
}

.rowap{
    display: flex;
    justify-content: center;
    transform: translateY(15vh);
}

.col_text_ap{
    position: relative;
    left: 5%;
}

.col_text_ap h3{
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 40px;
}

.col_text_ap p{
    color: #a3a3a3;
}

.col_cou{
    text-align: center;
}

.col_cou span{
    font-size: 36px;
    font-weight: 600;
    color: #0F62FE;
}

.col_cou h4{
    color: #ffffff;
}


/*Responsive mobile*/

@media screen and (max-width : 550px){

    nav{
        height: 15vh;
    }

    nav ul{
        width: 100%;
        position: absolute;
        top: 15vh;
        right: 0%;
        background-color: #ffffff;
        z-index: 2;
    }

    header .social{
        display: none;
    }

    nav ul li{
        margin-left: -3%;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #list{
        overflow: hidden;
        transition: 1s;
    }

    nav #btn-menu{
        display: block;
    }

    nav ul li::after{
        display: none;
    }

    .rowb{
        transform: translateY(5%);
    }
    
    .col img{
        width: 230px;
        height: 250px;
        transform: translateY(4vh);
    }

    header .nom{
        color: white;
        font-size: 30px;
        font-weight: 900;
        transform: translateY(7vh);
        text-align: center;
    }

    .nom h2{
        font-size: 25px;
        font-weight: 500;
    }

    /*A PROPOS*/

    .col_text_ap{
        margin-right: 0%;
        margin-bottom: 10%
    }

    .a_propos{
        height: 150vh;
    }


}

@media screen and (min-height : 700px) {
    .a_propos{
        height: 145vh;
    }
}

@media screen and (min-height : 800px) {
    .a_propos{
        height: 140vh;
    }
}