@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(0, 0, 0);
}

/*HEADER*/

header{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

header .social{
    width: 100%;
    height: 53px;
    background-color: black;
}

header .social ul{
    display: inline-flex;
    float: right;
    margin: auto;
}

header .social ul li{
    list-style-type: none;
    margin: 12px 20px;
}

header .social ul li a{
    text-decoration: none;
    color: #ffffff;
}

header .social ul li a:hover{
    color: #0F62FE;
}

header .navigation{
    background-color: white;
}

nav{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 85%;
    margin: auto;
}

nav ul{
    margin-bottom: 4%;
}

nav ul li{
    display: inline-block;
    margin: 10px 15px;
    position: relative;
}

nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 400;
}

nav ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background-color: #0F62FE; 
    position: absolute;
    left: 0;
    bottom: -9px;
    transition: 0.5s;
}

nav ul li:hover::after{
    width: 100%;
}

nav #btn-menu{
    font-size: 28px;
    display: none;
}

nav .logo img{
    width: 65px;
    height: 65px;
    margin-top: 5px;
}

.rowb{
    text-align: center;
    align-items: center;
    display: flex;
    transform: translateY(25%);
}

.col img{
    width: 340px;
    height: 350px;
}

header .nom{
    color: white;
    text-align: left;
}

.nom h2{
    font-size: 40px;
    font-weight: 700;
}

.nom button{
    margin-top: 40px;
}

.bttn{
    padding: 14px 32px;
    background-color: transparent;
    color: white;
    border: 1px solid #0F62FE;
    border-radius: 25px;
    font-size: small;
    cursor: pointer;
}

header .nom button i{
    margin-left: 10px;
}

.bttn:hover{
    color: #0F62FE;
    background-color: white;
    border: 1px solid white;
}

/*A PROPOS*/

.a_propos{
    background-color: black;
    width: 100%;
    height: 90vh;
}

.a_propos h2{
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    font-weight: 600;
}

.rowap{
    display: flex;
    justify-content: center;
    transform: translateY(15vh);
}

.col_text_ap{
    position: relative;
    left: 5%;
}

.col_text_ap h3{
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 40px;
}

.col_text_ap p{
    color: #a3a3a3;
    margin-bottom: 40px;
}

.col_cou{
    text-align: center;
}

.col_cou span{
    font-size: 36px;
    font-weight: 600;
    color: #0F62FE;
}

.col_cou h4{
    color: #ffffff;
}

.rowap button i{
    margin-left: 10px;
}

/*MES COMPETENCES*/

#competences{
    background-color: black;
    width: 100%;
    height: 1400px;
}

#competences h2{
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    font-weight: 600;
}

.rowcom{
    padding: 40px;
}

.rowcom .col{
    padding: 9em 6em;
    position: relative;
}   

.rowcom svg{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.rowcom svg circle{
    fill: none;
    stroke: #0F62FE;
    stroke-width: 10px;
    transform: translate(5px,5px);
    stroke-dasharray: 590px;
    stroke-dashoffset: 590px;
    stroke-linecap: round;
}

svg circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke: #969696;
}

svg .c1:nth-child(2){
    animation: circle1 2s forwards;
}

svg .c2:nth-child(2){
    animation: circle2 2s forwards;
}

svg .c3:nth-child(2){
    animation: circle3 2s forwards;
}

svg .c4:nth-child(2){
    animation: circle4 2s forwards;
}

svg .c5:nth-child(2){
    animation: circle5 2s forwards;
}

svg .c6:nth-child(2){
    animation: circle6 2s forwards;
}

svg .c7:nth-child(2){
    animation: circle7 2s forwards;
}

svg .c8:nth-child(2){
    animation: circle8 2s forwards;
}

svg .c9:nth-child(2){
    animation: circle9 2s forwards;
}

svg .c10:nth-child(2){
    animation: circle10 2s forwards;
}

svg .c11:nth-child(2){
    animation: circle11 2s forwards;
}

@keyframes circle1 {
    to{
        stroke-dashoffset: 35.4px;
    }
}

@keyframes circle2 {
    to{
        stroke-dashoffset: 106.2px;
    }
}

@keyframes circle3 {
    to{
        stroke-dashoffset: 147.5px;
    }
}

@keyframes circle4 {
    to{
        stroke-dashoffset: 88.5px;
    }
}

@keyframes circle5 {
    to{
        stroke-dashoffset: 59px;
    }
}

@keyframes circle6 {
    to{
        stroke-dashoffset: 23.6px;
    }
}

@keyframes circle7 {
    to{
        stroke-dashoffset: 165.2px;
    }
}

@keyframes circle8 {
    to{
        stroke-dashoffset: 259.6px;
    }
}

@keyframes circle9 {
    to{
        stroke-dashoffset: 47.2px;
    }
}

@keyframes circle10 {
    to{
        stroke-dashoffset: 82.6px;
    }
}

@keyframes circle11 {
    to{
        stroke-dashoffset: 129.8px;
    }
}

.rowcom span{
    
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
}

.rowcom .col h3{
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,490%);
}

.chiffre{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.chiffre i{
    font-size: 42px;
    color: #a5a5a5;
}

/*EXPERIENCES*/

#experiences{
    height: 1300px;
    background-color: black;
}

#experiences h2{
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    font-weight: 600;
}

.container-tl{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    position: relative;
    padding: 100px 0;
}

.timeline{
    color: #ffffff;
    margin: 0 auto;
    width: 90%;
    height: auto;
    max-width: 800px;
    position: absolute;
}

.timeline ul{
    list-style: none;
}

.timeline ul li{
    width: 50%;
    background-color: #272727; 
    padding: 20px;
    margin-bottom: 50px;
    position: relative;
}

.timeline ul li:nth-child(odd){
    float: left;
    clear: right;
    transform: translateX(-10%);
    border-radius: 10px 0 10px 10px;
}

.timeline ul li:nth-child(even){
    float: right;
    clear: left;
    transform: translateX(2%);
    border-radius: 0 10px 10px 10px;
}

.timeline::before{
    content: '';
    position: absolute;
    height: 95%;
    width: 2px;
    background-color: gray;
    left: 50%;
    transform: translateX(-50%);
}

.timeline ul li::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: gray;
    border-radius: 50%;
    top: 0;
}

.timeline ul li:nth-child(odd)::after{
    right: -11%;
    transform: translate(-50%,-50%);
}

.timeline ul li:nth-child(even)::after{
    left: -6.3%;
    transform: translate(-50%,-50%);
}

.timeline ul li:hover::after{
    background-color: #0F62FE;
}

.timeline h5{
    text-align: center;
    font-family: "Montserrat";
    font-size: 15px;
}

.timeline i{
    color: #0F62FE;
}

.timeline h4{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.timeline p{
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}


/*Responsive mobile*/

@media screen and (max-width : 550px){

    nav{
        height: 15vh;
    }

    nav ul{
        width: 100%;
        position: absolute;
        top: 15vh;
        right: 0%;
        background-color: #ffffff;
        z-index: 2;
    }

    header .social{
        display: none;
    }

    nav ul li{
        margin-left: -3%;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #list{
        overflow: hidden;
        transition: 1s;
    }

    nav #btn-menu{
        display: block;
    }

    nav ul li::after{
        display: none;
    }

    .rowb{
        transform: translateY(5%);
    }
    
    .col img{
        width: 230px;
        height: 250px;
        transform: translateY(4vh);
    }

    header .nom{
        color: white;
        font-size: 30px;
        font-weight: 900;
        transform: translateY(7vh);
        text-align: center;
    }

    .nom h2{
        font-size: 25px;
        font-weight: 500;
    }

    /*A PROPOS*/

    .col_text_ap{
        margin-right: 0%;
        margin-bottom: 10%
    }

    .a_propos{
        height: 1100px;
    }

    .col_text_ap{
        left: 0%;
    }

    .col_text_ap a{
        display: flex;
        justify-content: center;
        text-decoration: none;
    }

    /*MES COMPETENCES*/
    #competences{
        height: 3700px;
    }

    /*MES EXPERIENCES*/

    #experiences{
        height: 1500px;
    }

    .timeline ul li{
        width: 90%;
        float: none;
    }

    .timeline::before{
        display: none;
    }

    .timeline ul li::after{
        display: none;
    }

    .timeline ul li:nth-child(odd){
        transform: translateX(0%);
        border-radius: 10px 10px 10px 10px;
    }
    
    .timeline ul li:nth-child(even){
        transform: translateX(-11%);
        border-radius: 10px 10px 10px 10px;
    }

}

@media screen and (min-width : 280px) and (max-width : 400px) and (min-height : 560px) and (max-height : 700px){
    #experiences{
        height: 1700px;
    }
}

@media screen and (min-width : 280px) and (max-width : 400px) and (min-height : 400px) and (max-height : 550px){
    .col img{
        width: 180px;
        height: 190px;
    }

    .nom h2{
        font-size: 20px;
    }

    .a_propos h2{
        font-size: 28px;
    }

    .col_text_ap h3{
        font-size: 18px;
    }
    
    .col_text_ap p{
        font-size: 15px;
    }

    .col_cou span{
        font-size: 20px;
    }
    
    .col_cou h4{
        font-size: 16px;
    }

    .bttn{
        padding: 10px 30px;
        font-size: x-small;
    }
}


/*Responsive desktop*/

@media screen and (min-width : 1400px) and (max-width : 1550px) and (min-height : 860px) and (max-height : 930px){

    .col img{
        width: 440px;
        height: 450px;
    }

    .nom h2{
        font-size: 50px;
    }

    .col_text_ap h3{
        font-size: 32px;
    }
    
    .col_text_ap p{
        font-size: 25px;
    }

    .col_cou span{
        font-size: 42px;
    }
    
    .col_cou h4{
        font-size: 32px;
    }
}

@media screen and (min-width : 1550px) and (max-width : 1650px) and (min-height : 860px) and (max-height : 930px){
    .rowb{
        transform: translateY(35%);
    }

    .col img{
        width: 440px;
        height: 450px;
    }

    .nom h2{
        font-size: 45px;
    }

    .a_propos h2{
        font-size: 50px;
    }

    .col_text_ap h3{
        font-size: 32px;
    }
    
    .col_text_ap p{
        font-size: 25px;
    }

    .col_cou span{
        font-size: 42px;
    }
    
    .col_cou h4{
        font-size: 32px;
    }

    .bttn{
        padding: 14px 32px;
        font-size: medium;
    }
}

@media screen and (min-width : 1580px) and (max-width : 1700px) and (min-height : 980px) and (max-height : 1150px){
    .rowb{
        transform: translateY(45%);
    }

    .col img{
        width: 440px;
        height: 450px;
    }

    .nom h2{
        font-size: 45px;
    }

    .a_propos h2{
        font-size: 50px;
    }

    .col_text_ap h3{
        font-size: 32px;
    }
    
    .col_text_ap p{
        font-size: 25px;
    }

    .col_cou span{
        font-size: 52px;
    }
    
    .col_cou h4{
        font-size: 32px;
    }

    .bttn{
        padding: 14px 32px;
        font-size: medium;
    }
}

@media screen and (min-width : 1880px) and (max-width : 2050px) and (min-height : 980px) and (max-height : 1150px){
    .rowb{
        transform: translateY(50%);
    }

    .col img{
        width: 440px;
        height: 450px;
        position: relative;
        right: 15%;
    }

    .nom h2{
        font-size: 52px;
    }

    .a_propos h2{
        font-size: 50px;
    }

    .col_text_ap h3{
        font-size: 32px;
    }
    
    .col_text_ap p{
        font-size: 25px;
    }

    .col_cou span{
        font-size: 52px;
    }
    
    .col_cou h4{
        font-size: 32px;
    }

    .bttn{
        padding: 18px 38px;
        font-size: larger;
    }

    .col_text_ap{
        left: 0%;
    }

    nav ul{
        margin-bottom: 3%;
    }
}

@media screen  and (min-width : 1880px) and (max-width : 2050px) and (min-height : 1150px) and (max-height : 1300px){
    .rowb{
        transform: translateY(50%);
    }

    .col img{
        width: 540px;
        height: 550px;
        position: relative;
        right: 15%;
    }

    .nom h2{
        font-size: 60px;
    }

    .a_propos h2{
        font-size: 58px;
    }

    .col_text_ap h3{
        font-size: 32px;
    }
    
    .col_text_ap p{
        font-size: 25px;
    }

    .col_cou span{
        font-size: 52px;
    }
    
    .col_cou h4{
        font-size: 32px;
    }

    .bttn{
        padding: 18px 38px;
        font-size: larger;
    }

    .col_text_ap{
        left: 0%;
    }

    nav ul{
        margin-bottom: 3%;
    }
}


/*Responsive Tablet*/

@media screen and (min-width : 700px) and (max-width : 850px) and (min-height : 960px) and (max-height : 1100px){
    .rowb{
        transform: translateY(50%);
    }

    .col img{
        width: 380px;
        height: 390px;
    }

    .nom h2{
        font-size: 40px;
    }

    nav ul li a{
        font-size: 13px;
    }

    nav ul li{
        margin: 10px 5px;
    }

    nav ul{
        margin-bottom: 5%;
    }

    /*MES COMPETENCES*/

    #competences{
        height: 1900px;
    }

    /*MES EXPERIENCES*/

    #experiences{
        height: 1500px;
    }
}

@media screen and (min-width : 1300px) and (max-width : 1450px) and (min-height : 960px) and (max-height : 1100px){
    .rowb{
        transform: translateY(40%);
    }

    .col img{
        width: 480px;
        height: 490px;
    }

    .nom h2{
        font-size: 50px;
    }

    .a_propos h2{
        font-size: 58px;
    }

    .col_text_ap h3{
        font-size: 32px;
    }
    
    .col_text_ap p{
        font-size: 25px;
    }

    .col_cou span{
        font-size: 52px;
    }
    
    .col_cou h4{
        font-size: 32px;
    }

    .bttn{
        padding: 18px 38px;
        font-size: larger;
    }
}

@media screen and (min-width : 960px) and (max-width : 1100px) and (min-height : 1300px) and (max-height : 1420px){
    .rowb{
        transform: translateY(65%);
    }

    .col img{
        width: 480px;
        height: 490px;
    }

    .nom h2{
        font-size: 50px;
    }

    .a_propos h2{
        font-size: 58px;
    }

    .col_text_ap h3{
        font-size: 32px;
    }
    
    .col_text_ap p{
        font-size: 25px;
    }

    .col_cou span{
        font-size: 48px;
    }
    
    .col_cou h4{
        font-size: 30px;
    }

    .bttn{
        padding: 18px 38px;
        font-size: larger;
    }

    nav ul{
        margin-bottom: 5%;
    }
}

@media screen and (min-width : 780px) and (max-width : 900px) and (min-height : 1100px) and (max-height : 1250px){
    .rowb{
        transform: translateY(70%);
    }

    .col img{
        width: 380px;
        height: 390px;
    }

    .nom h2{
        font-size: 40px;
    }

    .a_propos h2{
        font-size: 58px;
    }

    .col_text_ap h3{
        font-size: 28px;
    }
    
    .col_text_ap p{
        font-size: 20px;
    }

    .col_cou span{
        font-size: 40px;
    }
    
    .col_cou h4{
        font-size: 26px;
    }

    .bttn{
        padding: 18px 38px;
        font-size: larger;
    }

    nav ul li a{
        font-size: 13px;
    }

    nav ul li{
        margin: 10px 5px;
    }

    nav ul{
        margin-bottom: 6%;
    }

    /*MES COMPETENCES*/

    #competences{
        height: 1900px;
    }

    /*MES EXPERIENCES*/

    #experiences{
        height: 1500px;
    }

}